<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.orangehrm.utility.RetryAnnotation"/>
        <listener class-name="com.orangehrm.utility.Listener"/>
    </listeners>
    
    <test verbose="2" preserve-order="true" name="C:/Users/vikes/IdeaProjects/OrangeHRM" thread-count="2" parallel="methods">
        <classes>
            <class name="com.orangehrm.scripts.SampleTest"/>
            <class name="com.orangehrm.scripts.AddEmployeeInPIMPage"/>
        </classes>
    </test>
</suite>